@import './variables';

*{
     margin:  0 auto;
     padding:0;
     box-sizing: border-box;
}

.container{
     width: 1400px;
     margin: 0 auto;
}

li{
     list-style: none;
}
ul{
     display: flex;
}
a{
     text-decoration: none;
}

.flex{
     display: flex;
}
.flexbet{
     display: flex;
     justify-content: space-between;
}
.wrap{
     display: flex;
     flex-wrap: wrap;
}
.btn{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:$color-yellow;
     padding: 10px;
}

.col-3{
     width: 33.33%;
}
.col-4{
     width: 25%;
}
